build/*
usrp_rf_tests/one_tone_power_measurements_B200mini/*
usrp_rf_tests/two_tone_power_measurements_B200mini/*
usrp_rf_tests/one_tone_power_measurements_N210SBX/*
usrp_rf_tests/two_tone_power_measurements_N210SBX/*
dpd_externals/build/*
usrp_rf_tests/old/*
usrp_rf_tests/ofdm_TXpower_measurements_N210SBX_HD28476/*
usrp_rf_tests/ofdm_TXpower_measurements_N210SBX_ZHL1A/*
usrp_rf_tests/ofdm_TXpower_measurements_N210SBX_ZHL2/*
usrp_rf_tests/ofdm_TXpower_measurements_N210SBX_ZX60_6013E/*
usrp_rf_tests/ofdm_TXpower_measurements_N210SBX_noPA/*
apps/*.bin
examples/*.bin
dpd_externals/src/*.cc~
dpd_externals/include/*.h~
dpd_externals/qa/*.cc~
dpd_externals/qa/*.m~
