build/*
usrp_rf_tests/one_tone_power_measurements_B200mini/*
usrp_rf_tests/two_tone_power_measurements_B200mini/*
usrp_rf_tests/one_tone_power_measurements_N210SBX/*
usrp_rf_tests/two_tone_power_measurements_N210SBX/*
dpd_externals/build/*
